<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
     <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="wrapper">
         <span class="bg-animate"></span>
          <div class="form-box login">
                <h2>Sign Up </h2>
               <form action="/process_register" method="post" th:object="${user}">
                    <div class="input-box">
                        <label> Username </label>
                        <input name="userName" type="text" required>
                        
                    </div>
                    <div class="input-box">
                        <label> Email </label>
                        <input name="email" type="email" required>
                        
                    </div>
                    <div class="input-box">
                        <label> Password </label>
                        <input name="passWord" type="password" required>
                        
                    </div>
                    <div class="input-box">
                        <label> Re enter Password </label>
                        <input name="re_passWord"   type="password" required>
                        
                    </div>
                    <button type="submit" class="btn"> Sign Up</button>
                    <div class="logreg-link">
                        <p>already have an account <a href="#" class="register-link">Login</a></p>
                    </div>
                </form>
          </div>
          <div class="info-img login">
                <h2>Hello Aliens Welcome </h2>
                <img src="logo.png">
          </div>
    </div>

    <div>

    </div>
</body>
</html>

